.homeslide_wrapper {
  margin: 330px auto 0;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    margin: 150px auto 0;
  }

  @media (max-width: 768px) {
    margin: 100px auto 0;
  }

  .homeslide_background {
    & > * {
      position: absolute;
      z-index: -1;
    }

    &_1 {
      left: -260px;
      top: -166px;
    }
    &_2 {
      left: -90px;
      top: 680px;
    }
    &_3 {
      top: calc(100% + 115px);
      left: -100px;
    }
    &_4 {
      top: calc(100% + 170px);
      left: 582px;
    }
    &_5 {
      left: 720px;
      top: 45px;
      z-index: 0;
      user-select: none;
      touch-action: none;
      pointer-events: none;
    }
    &_6 {
      top: calc(100% + 170px);
      left: 950px;
    }
    &_7 {
      left: 1355px;
      top: -100px;
    }
    &_8 {
      top: 85px;
      left: 1581px;
    }
    &_9 {
      top: -150px;
      left: 1720px;
    }
  }

  .homeslide_text {
    font-family: 'Gilroy';
    font-weight: 300;
    line-height: 1;
    font-size: 4rem;
    max-width: 100%;
    letter-spacing: 12px;

    @media (max-width: 1200px) {
      font-size: 3rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    .homeslide_text_bold {
      font-weight: 900;
    }
    .homeslide_btn {
      cursor: pointer;
      margin-left: 100px;
    }
  }
}

.secondslide_wrapper {
  margin: 330px auto 0;

  @media (max-width: 1200px) {
    margin: 150px auto 0;
  }

  @media (max-width: 768px) {
    margin: 100px auto 0;
  }

  & > span {
    text-transform: uppercase;
  }

  .secondslide_background {
    & > * {
      z-index: -1;
      position: absolute;
    }

    &_1 {
      top: -75px;
      left: 600px;
    }
    &_2 {
      top: -80px;
      left: 1030px;
    }
    &_3 {
      top: -130px;
      left: 1280px;
    }
    &_4 {
      top: 550px;
      left: 1740px;
    }
    &_5 {
      top: 760px;
      left: 1790px;
    }
  }

  .secondslide_body {
    position: relative;
    border-radius: 80px;
    margin-top: 100px;
    border: none;
    height: 900px;
    overflow-y: scroll;
    direction: rtl;

    @media (max-width: 1200px) {
      margin-top: 80px;
      height: 750px;
    }
    @media (max-width: 968px) {
      margin-top: 60px;
      height: 600px;
    }
    @media (orientation: landscape) and (max-width: 768px) {
      margin-top: 40px;
      height: 450px;
    }

    .secondslide_text {
      line-height: 80px;
      border-radius: 80px;
      background: #fff;
      position: relative;
      z-index: 5;
      margin: 0 0 0 60px;
      padding: 65px;
      display: inline-flex;
      flex-direction: column;
      direction: ltr;

      @media (max-width: 1200px) {
        line-height: 60px;
        margin: 0 0 0 45px;
        padding: 45px;
      }
      @media (max-width: 968px) {
        margin: 0 0 0 30px;
        padding: 30px;
        line-height: 40px;
      }
      @media (max-width: 768px) {
        margin: 0 0 0 30px;
        padding: 30px;
        line-height: 35px;
      }
    }

    &::-webkit-scrollbar {
      width: 40px;
      direction: rtl;

      @media (max-width: 1200px) {
        width: 30px;
      }
      @media (max-width: 968px) {
        width: 20px;
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 45%;
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &::-webkit-scrollbar-thumb {
      position: relative;
      background: rgba(207, 87, 141, 1);

      box-shadow: inset rgba(255, 255, 255, 0.2) -4px -4px 12px 5px,
        inset rgba(0, 0, 0, 0.2) 4px 4px 12px 5px;

      border-radius: 20px;
    }
  }
}

.thirdslide_wrapper {
  margin: 330px auto 0;

  @media (max-width: 1200px) {
    margin: 150px auto 0;
  }

  @media (max-width: 768px) {
    margin: 100px auto 0;
  }

  .thirdslide_background {
    & > * {
      z-index: -1;
      position: absolute;
    }
    &_1 {
    }
    &_2 {
    }
    &_3 {
    }
    &_4 {
    }
    &_5 {
      z-index: 3;
      bottom: 1130px;
      left: 370px;
    }
    &_6 {
      z-index: 3;
    }
    &_7 {
      z-index: 3;
    }
    &_8 {
      z-index: 3;
    }
    &_9 {
      top: -180px;
      left: -40px;
      z-index: 2;
    }
  }

  .thirdslide_wrapper_content {
    margin-left: 568px;

    @media (max-width: 2000px) {
      margin-left: 408px;
    }

    @media (max-width: 1600px) {
      margin-left: 208px;
    }
    @media (max-width: 1200px) {
      margin-left: 158px;
    }

    @media (max-width: 768px) {
      margin-left: 108px;
    }
  }
  .thirdslide_header {
    display: inline-flex;
    flex-direction: column;

    text-transform: uppercase;
    .thirdslide_title {
      letter-spacing: 12px;
      font-family: 'Gilroy';
      font-size: 4rem;
      line-height: 1;

      @media (max-width: 1200px) {
        font-size: 3.5rem;
      }
      @media (max-width: 968px) {
        font-size: 3rem;
      }
      @media (max-width: 768px) {
        font-size: 2rem;
      }

      &_bold {
        font-weight: bold;
      }
    }
  }
  .thirdslide_body {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 580px 540px;
    grid-template-rows: 300px 170px;
    gap: 80px;

    @media (max-width: 2000px) {
      grid-template-columns: 480px 440px;
      grid-template-rows: 200px 120px;
    }

    @media (max-width: 1600px) {
      grid-template-columns: 380px 340px;
      grid-template-rows: 150px 70px;
    }
    // @media (max-width: 1200px) {
    //   grid-template-columns: 580px 540px;
    // grid-template-rows: 300px 170px;
    // }

    .thirdslide_body_text {
      position: relative;
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 100px;
      background: #fff;
      border-radius: 40px;

      @media (max-width: 2000px) {
        padding: 80px;
      }

      @media (max-width: 1600px) {
        padding: 40px;
      }
    }
    .thirdslide_text_1 {
      padding-left: 0;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 3;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50%;
        bottom: 0;
        width: 60%;
        background: #fff;
        z-index: -1;
      }
      &:after {
        content: url('../../../public/assets/images/thirdslide_background/icon2.svg');
        position: absolute;
        top: -60px;
        left: 0;
      }
    }
    .thirdslide_text_2 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 1;

      &:after {
        content: url('../../../public/assets/images/thirdslide_background/icon1.svg');
        position: absolute;
        top: -60px;
        left: 100px;
      }
    }

    .thirdslide_btn {
      cursor: pointer;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }
}

.popup_content_item {
  display: flex;
}

.popup_wrapper {
  background-color: rgba(22, 39, 62, 0.7);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 250px;
  @media (max-width: 1200px) {
    padding-top: 70px;
  }

  .popup_body {
    display: block;
    max-width: 1600px;
    box-sizing: border-box;
    touch-action: none;
    background: #fff;
    border-radius: 80px;
    padding: 80px 0;
    // margin-top: 60px;
    align-items: center;

    // @media (orientation: landscape) and (max-width: 1200px) {
    //   margin-top: -40px;
    // }

    .popup_body_wrapper {
      position: relative;

      margin: 0 100px 0 468px;

      @media (max-width: 2000px) {
        margin: 0 100px 0 408px;
      }

      @media (max-width: 1600px) {
        margin: 0 100px 0 208px;
      }
      @media (max-width: 1200px) {
        margin: 0 100px 0 158px;
      }

      @media (max-width: 768px) {
        margin: 0 100px 0 108px;
      }

      display: flex;
      flex: 1 1 100%;
      flex-direction: column;

      // @media (max-width: 2000px) {
      //   margin-left: 238px;
      // }

      // @media (max-width: 1600px) {
      //   margin-left: 58px;
      // }
      // @media (max-width: 1400px) {
      //   margin-left: 308px;
      // }

      .popup_body_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .popup_content {
        max-width: 100%;
        display: flex;
        flex: 1 1 100%;
        width: max-content;
        position: relative;
        pointer-events: auto;

        .popup_content_item {
          display: flex;
          flex-direction: column;
        }
      }

      .popup_span_id {
        font-family: 'Gilroy';
        font-weight: bold;
        color: #8cc9e8;
      }
    }
    .popup_btn {
      align-self: start;
    }
  }
}
