@import url('./lib/assets/fonts/din/style.css');
@import url('./lib/assets/fonts/gilroy/style.css');

html {
  font-size: 54px;
  line-height: 1.5;
  font-family: 'DIN pro';

  @media (max-width: 2000px) {
    font-size: 36px;
  }
  @media (max-width: 1600px) {
    font-size: 28px;
  }
  @media (orientation: landscape) and (max-width: 1200px) {
    font-size: 28px;
  }
}
body {
  margin: 0;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  background: transparent;
  border: none;
}

.wrapper {
  min-height: 100vh;
}
.container,
.container_body {
  max-width: 1800px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: 2000px) {
    max-width: 1400px;
  }

  @media (max-width: 1600px) {
    max-width: 1000px;
  }

  @media (max-width: 1200px) {
    max-width: 800px;
  }

  @media (max-width: 968px) {
    max-width: 724px;
  }
  @media (orientation: landscape) and (max-width: 768px) {
    max-width: 660px;
  }
}
.container_body {
  position: relative;
  min-height: 10vh;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
header {
  cursor: pointer;
  top: 51px;
}
footer {
  bottom: 51px;
}

.text_bold {
  font-weight: 900;
}
