@import url('./lib/assets/fonts/din/style.css');
@import url('./lib/assets/fonts/gilroy/style.css');

html {
  font-size: 54px;
  line-height: 80px;
  font-family: 'DIN pro';
}
body {
  margin: 0;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  background: transparent;
  border: none;
}

.wrapper {
  min-height: 100vh;
}
.container,
.container_body {
  max-width: 1800px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container_body {
  min-height: 80vh;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
header {
  cursor: pointer;
  top: 51px;
}
footer {
  bottom: 51px;
}
