@import url('./lib/assets/fonts/din/style.css');
@import url('./lib/assets/fonts/gilroy/style.css');

body {
  margin: 0;
  font-family: 'DIN pro';
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  height: 100vh;
}
.container {
  max-width: 1800px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
header {
  top: 51px;
}
footer {
  bottom: 51px;
}
