.hidden {
  opacity: 0;
}

.slider_container {
  flex: 1 1 100%;
  align-self: center;
}

.slider_wrapper {
  overflow-y: hidden;
  overflow-x: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  transition: transform 0.5s ease;
  background: url('../../../public/assets/images/bg.jpg') center center
    no-repeat;
  background-size: cover;
}

.slider_item {
  position: relative;
  min-width: 100vw;
  max-width: 100vw;
  user-select: none;
}

.slider_children_item {
  opacity: 0;

  visibility: hidden;
  min-width: 950px;
  max-width: 950px;
  @media (max-width: 2000px) {
    min-width: 650px;
    max-width: 650px;
  }
  @media (max-width: 1200px) {
    min-width: 350px;
    max-width: 350px;
  }
  background: transparent;

  &_active {
    padding: 100px 0;
    width: max-content;
    min-width: 950px;
    max-width: 950px;
    opacity: 1;
    transition: opacity 0.5s ease;
    @media (max-width: 2000px) {
      min-width: 650px;
      max-width: 650px;
    }
    @media (max-width: 1200px) {
      min-width: 350px;
      max-width: 350px;
    }
  }
}
.popup_slider_container {
  overflow: hidden;
  flex-direction: column;
  flex: 1 1 100%;
}

.popup_slider_wrapper {
  height: 90%;
  display: flex;
  pointer-events: auto !important;
  overflow: hidden;
  width: max-content;
}

.bullets_wrapper {
  display: flex;
  width: max-content;

  & > *:not(:last-child) {
    margin-right: 43px;
  }
  .bullets_next {
    width: 18px;
    height: 31px;
    background: url('../../../public/assets/images/popup/btn_next.svg');
    cursor: pointer;
  }
  .bullets_prev {
    width: 18px;
    height: 31px;
    background: url('../../../public/assets/images/popup/btn_1.svg');
    cursor: pointer;
  }
  .bullets_pagination_wrapper {
    display: flex;
    align-items: flex-end;

    & > *:not(:last-child) {
      margin-right: 20px;
    }

    .pagination_item {
      box-sizing: border-box;
      height: 20px;
      width: 20px;
      background: transparent;
      border-radius: 50%;
      border: 2px solid black;
      cursor: pointer;

      &_active {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        background: #fc6da9;
      }
    }
  }
}
